[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "plugins/zsh-history-substring-search"]
	path = plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "hosts"]
	path = hosts
	url = https://github.com/pschmitt/zsh-config-hosts.git
[submodule "plugins/fzf"]
	path = plugins/fzf
	url = https://github.com/junegunn/fzf
[submodule "plugins/zsh-autoenv"]
	path = plugins/zsh-autoenv
	url = https://github.com/Tarrasch/zsh-autoenv
[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
